html{
    height: 100%;
}

html, body{
    min-height: 100% !important;
    height: 100%;
    margin: 0px;
    line-height: 1.64;
    font-family: 'Open Sans', sans-serif !important;
}

.intro-container {
    background: no-repeat center right fixed url('images/banner.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px;
    height: 100%;
    position: relative;
    margin: 0px;
}

.overlay {
    background-color: #22A39F;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.55;
}

#intro{
  position: absolute;
  width: 400px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -200px;
  font-size: 40px;
}

#intro > *{
  text-align: center;
  color: #FFF !important;
}

#intro h1{
    padding-bottom: 20px;
    border-bottom: 1px solid #FFF;
    border-bottom-color: rgba(255,255,255,0.35);
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    width: 400px;
    margin: 0px;
    font-size: 82px;
}

#intro p{
    margin-top: 10px;
    font-size: 30px;
    font-weight: normal;
}

#scroll-down{
    width: 8%;
    height: 80px;
    position: absolute;
    bottom: 0px;
    left: 86%;
    background-color: #222;
}

#scroll-down .glyphicon{
    font-size: 35px;
    color: #FFF;
    position: absolute;
    left: 34%;
    -webkit-animation: wiggle 2s infinite; /* Safari 4.0 - 8.0 */
    animation: wiggle 2s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes wiggle {
    0%   {top: 18px;}
    50%  {top: 30px;}
    100% {top: 18px;}
}

/* Standard syntax */
@keyframes wiggle {
    0%   {top: 18px;}
    50%  {top: 30px;}
    100% {top: 18px;}
}
.background-white{
    background-color: #FFF;
    width: 100%;
}
.centre-container{
    margin: 0 15%;
}
.profile-container{   
    padding: 20px 50px;
    text-align: center;
}
.profile-container h2{
    font-weight: 300;
    color: #22A39F;
    font-size: 54px;
    margin: 20px 0;
    font-family: 'Open Sans', sans-serif;
}

.profile-container .lead{
    color: #727278;
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 20px;
}



.about-me{
    text-align: left;
    
}
.about-me h3{
    font-size: 28px;
    font-weight: 300;
    color: #22A39F;
    margin: 20px 0;
}

.descp{
    font-size: 15px;
    color: #434242;
    line-height: 24.6px;    
}

.about-me .detail{
    display: inline-block;
    margin: 5px 0;
}

.profile-container img{
    border: 10px solid #F5F5DC;
}

.profile-container .row{
    margin-top: 35px;
}

#experiences{
    font-family: 'Open Sans', sans-serif !important;
    height: 150%;
}

.background-creame{
    background-color: #F5F5DC;
}

#experiences hr{
    border-top: 1px solid #D3D3D3;
    margin: 40px 0;
}

.profile-container h3{
    font-size: 28px;
    font-weight: 300;
    color: #22A39F;
    margin: 20px 0;
    text-align: left;
}

#experiences .experience p > strong{
    display: block;
    padding-top: 8px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}

.experience h4{
    font-weight: bold;
}
.experience{
    text-align: left;
}

#skills ul > li{
    min-height: 30px;
    padding: 3px 0;
}

ul.no-bullets{
    list-style-type: none;
    margin: 0px;
    padding: 0px !important;
    text-align: left;
}

.ability-title{
    display: inline-block;
    width: 60%;
    font-size: 15px;
    color: #434242;
    line-height: 24.6px;
}
.ability-score{
    float: right;
}

.ability-score .glyphicon.filled{
    color: #22A39F;
}
.ability-score .glyphicon-star{
    color: #DFE0E0;
    font-size: 14px;
    transition: all 0.3sec;
    padding: 0px 2px;
}

#skills .col-md-6{
    padding-left: 0px;
}

.background-gray{
    background-color: rgb(67, 66, 66);
}

#contact h2{
    color: white;
}

#contact hr{
    border-color: #727278;
}
#contact .row * {color: #fff;}
#contact a{
    display: inline-block;
    margin-bottom: 13px;
    opacity: 0.6;
    font-size: 17px;
}
.fa{
    color: #C4C1C0;
    font-size: 30px !important;
    margin-right: 20px;
    vertical-align: middle;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #22A39F;
    color: #FFFFFF;
}
.navbar.navbar-default{
    border: 0px;
    background-color: #222222;
    position: absolute;
    top: 100%;
    right: 6%;
    width: 8%;
    z-index: 999;
    border-radius: 0px;
}

.fixed.navbar.navbar-default{
    position: fixed;
    top: 60px;
}

.navbar-collapse{
    padding: 0px;
}

.navbar-collapse li{
    width: 98%;
    height: 80px;
}

.navbar-collapse li a{
    height: 80px;
    line-height: 58px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

#protfolio{
    height: 580px;
}
#portfolio a{
    font-size: 18px;
    color: black;
}

#portfolio img{
    margin: 20px 0;
}

/* Vertical Sliding */
/*Body*/
body{
	background-color: #00abe9;
	font-family: 'Raleway', sans-serif;
}
/*Heading1*/
h1{
	color: #fff;
	font-size: 44px;
	margin-top: 40px;
	text-align: center;
}


/*Vertical Flip*/
.verticalFlip{
	display: inline;
	text-indent: 8px;
}
.verticalFlip span{
	animation: vertical 12.5s linear infinite 0s;
	-ms-animation: vertical 12.5s linear infinite 0s;
	-webkit-animation: vertical 12.5s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.verticalFlip span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.verticalFlip span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.verticalFlip span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.verticalFlip span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

/*Vertical Flip Animation*/
@-moz-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: rotateX(180deg); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0;}
}
@-webkit-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: rotateX(180deg); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: rotateX(180deg); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}


/** media queries **/
@media screen and (min-width: 900px) and (max-width: 1023px){
    #skills{
        height: 970px;
    }
    #contact{
        height: 500px;
    }
    #experiences{
        height: 900px;
    }
    #profile{
        height: 870px;
    }
    .pl20{
        padding-left: 0px !important;
    }
    .mobile-hide{
        display: none;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1050px){
    #skills{
        height: 750px;
    }
    #contact{
        height: 500px;
    }
    #experiences{
        height: 820px;
    }
    #profile{
        height: 780px;
    }
    .pl20{
        padding-left: 0px !important;
    }
    .mobile-hide{
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    #skills{
        height: 700px;
    }
    #contact{
        height: 500px;
    }
    #experiences{
        height: 700px;
    }
    #profile{
        height: 600px;
    }
    .pl20{
        padding-left: 0px !important;
    }
}